<div>
<img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 80 }) %>" alt="">
  <%= @user.username %>
</div>

<aside>
  <ul>
    <li<a href="#">Posts</a></li>
    <li<a href="#">Following</a></li>
    <li<a href="#">Followers</a></li>

  </ul>
</aside>

<%= link_to "Edit profile", edit_user_path %>