<div class="center jumbotron">
	<h1>Welocome to insta_app</h1>

<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Facebookでログイン", "#", class: "btn btn-lg btn-primary"%>