<!--新規写真投稿-->
  <%= form_with(model:@micropost, local:true) do |f| %>
    <div class="field">
      <%= f.text_area :content %>
    </div>
      <%= f.submit "Post", class: "btn btn-primary" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'%>
  <% end %>