<header>
	<nav>
		<ul>
			<li><%= link_to "HOME", "#" %></li>
			<li><%= link_to "SEARCH", "#" %></li>
			<li><%= link_to "MYPAGE", "#" %></li>
			<li><%= link_to "UPROAD", "#" %></li>
		</ul>
	</nav>
</header>